 @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root{
    --cor-de-fundo: #f4caf7;
    --cor-fundo-container:#FFFFFF;
    --cor-titulo: #312E2C;
    --cor-paragrafo: #5F564D;
    --roxo: #7A284E;
    --marrom: #854632;
    --fonte-principal: 'Young Serif', serif;
}

body{
    background: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: center;
    background: var(--cor-fundo-container);
    margin: 50px 500px;
    border-radius: 15px;
    padding:40px;
}

.imagem_card{
    border-radius: 12px;
    width: 656px;
    height: 300px;
    margin: 40px;
    align-self: center;
}

.titulo_card{
    font-size: 40px;
    color: var(--cor-titulo);
}

.paragrafo_card{
    font-size: 16px;
    color: var(--cor-paragrafo);
}

.container{
    display:flex;
    flex-direction: column;
    
}

.container_titulo{
    font-size: 22px;
}

.tabela_nutricao{
    border-right: 1px solid var(--cor-paragrafo);
}

.attribution{
    margin-top: 30px;
}

.roxo{
    color: var(--roxo);
}

.marrom{
    color:var(--marrom) ;
}

li::marker{
    color: var(--marrom);
}

.container_lista{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.link{
    text-decoration: none;
    color: var(--roxo);
}

td{
    padding: 5px;
}
  
